<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <style>
        .letter-icon {
            width: 50px; /* 조정 가능 */
            height: 50px; /* 조정 가능 */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <h3>편지가 도착했습니다</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <img src="/images/letter.png" alt="편지 아이콘" class="letter-icon">
            <h3>Welcome, <span th:text="${#authentication.name}"></span>!</h3>
            <h3>지금까지 <span th:if="${totalLetters == 0}">편지를 전달한 적이 없어요😊</span><span th:if="${totalLetters > 0}" th:text="${totalLetters} + '개'"></span> 편지를 전달했어요😊</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/write}" class="btn btn-primary btn-lg">나한테 편지 써줄래?</a>
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/letters}" class="btn btn-secondary btn-lg mt-2">내 편지함</a>
            <a th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/login}" class="btn btn-primary btn-lg">로그인</a>
            <a th:if="${#authorization.expression('!isAuthenticated()')}" th:href="@{/register}" class="btn btn-secondary btn-lg mt-2">회원가입</a>
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/select}" class="btn btn-info btn-lg mt-2">받고 싶은 편지 선택하기</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h3>Recent Letters</h3>
            <div th:each="letter : ${letters}">
                <p>
<!--                    <strong>Type:</strong> <span th:text="${letter.letterType}"></span><br/>-->
                    <strong>Comment:</strong> <span th:text="${letter.comment}"></span><br/>
                    <strong>Content:</strong> <span th:text="${letter.content}"></span><br/>
                    <a th:href="@{/letters/{id}(id=${letter.id})}" class="btn btn-primary">자세히 보기</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-4" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="col text-center">
            <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        </div>
    </div>
</div>
</body>
</html>
